/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/colliderscope2024.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.qtcreator/
/test_inputs/*
/colliderscope2024.pyproject.*
/colliderscope2024.pyproject
/.idea/*
/dist/*
*.spec
/exports/*
